.pfp {
    border-radius: 50%;
    position: relative;
    width: 100%;
    height: auto;
    transform: scale(0.9);
}

.socials {
    z-index: 10;
}

.AboutMe {
    background-color: black;
}

.icon {
    color: white;       
    font-size: 2rem;  
    margin: 0 10px;    
  }

.link {
    color: #B8B8B8;
}
.link:hover {
    color: lightblue;
}

.AboutMe::before {   /* So that when the navbar goes to this section, it doesn't cut off the top */
    display: block; 
    content: " "; 
    margin-top: -60px; 
    height: 60px; 
    visibility: hidden; 
    pointer-events: none;
  }