
  
  .timeline {
    position: relative;
    padding-left: 120px;
  }
  
  .timelineLine {
    position: absolute;
    left: 50px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #6c5ce7;
  }
  
  .timelineItem {
    position: relative;
    margin-bottom: 30px;
  }
  
  .timelineContent {
    background-color: #343a40;
    padding: 20px;
    border-radius: 5px;
    margin-left: 40px;
  }
  
  .textContainer {
    margin-left: 20px;
  }
  
  .timelineDate {
    margin-bottom: 0;
  }


.timelineIcon {
    position: absolute;
    left: -120px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    background-color: #fff;
    transition: transform 0.3s ease;
  }

  .timelineIcon:hover {
    transform: translateY(-50%) scale(1.05);
  }
